# Application
NODE_ENV=development
PORT=3000
APP_NAME="Patrique Ouimet"
BASE_URL=http://localhost:3000

# Database
DATABASE_URL="file:./dev.db"

# Session
SESSION_SECRET=your-secret-key

# Admin
ADMIN_EMAIL=patrique.ouimet@gmail.com
