# Application
NODE_ENV=development
PORT=3000
APP_NAME="Patrique Ouimet"
BASE_URL=http://localhost:3000
VERSION=1765072435580

# Database
DATABASE_URL="postgresql://profile:change-me@127.0.0.1:5432/profile"
TEST_DATABASE_URL="postgresql://profile:change-me@127.0.0.1:5432/profile_test"

# Session
SESSION_SECRET=your-secret-key

# Admin
ADMIN_EMAIL=patrique.ouimet@gmail.com
